@model Frontend.Models.TestModel

@{
    ViewData["Title"] = "setTest";
    Layout = "_AnasayfaLayout";
}
<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org" />
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/testOlustur.css" />
</head>
<body background="/Images/bg2.jpeg">
    <form class="" method="post">
        <div class="body22">
            <div class="row arka">
                <div class="arkaplan">
                    <i style="font-family: candara">
                        - Testinin Adını Girip Testini Oluşturmaya Başla..
                        <br><br>- Testini Oluştururken Doğru Cevapları Belirlemeyi Unutma.
                    </i>
                </div>
                <div class="arkaplan2 col center container">
                    <div class="center row">
                        <div>
                            @Html.ValidationMessage("sorusayisi", new { @class = "hata" })
                            @Html.ValidationMessage("testExist", new { @class = "hata" })
                        </div>
                        <div>
                            @Html.TextBoxFor(t => t.TestAdi, "testadi", new { id = "testadi", @class = "settextEt", placeholder = "Test Adı" })
                        </div>
                        <div>
                            @Html.TextBoxFor(t => t.TestSoruSayisi, "testSoruSayisi", new { id = "testadi", @class = "settextEt", placeholder = "Test Soru Sayısı" })
                        </div>
                        <div>
                            <input  type="submit" , id="testAdiButon" value="Oluştur" class="btn olusturBtn">
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>
    </form>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/testOlustur.js" asp-append-version="true"></script>
</body>
