html, body {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: candara;
    background-position: center;
}
table {
    box-shadow: 0px 2px 2px #aaa;
    margin-top: 30px;
}

.body2 {
    margin-top: 4%;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5%;
    border-radius: 15px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
h1 {
    margin-top: 1%;
    font-weight: bold;
    font-size: 26px;
    color: #AF21CB;
    align-items: center;
    justify-content: center;
    text-align: center
}



.sagDiv {
    width: 20%;
    margin-left: 3%;
    background-color: #eee;
    margin-top: 4%;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5%;
    border-radius: 15px;
}
.sagDivHeader {
    margin-top: 1%;
    font-weight: bold;
    font-size: 20px;
    color: #AF21CB;
    align-items: center;
    justify-content: center
}
.sagDivBody {
    margin-top: 2%;
    align-items: center;
    justify-content: center;
}