html, body {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    height: auto;
    margin-top: 15%;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}


.cardgiris {
    height: auto;
    margin-top: 15%;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}


.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}



.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
    margin-top: 5px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_btn:hover {
    color: black;
    background-color: white;
}


.links {
    margin-bottom: 25px;
}

.links a {
    margin-left: 4px;
}

.register_btn {
    color: black;
    background-color: #44ff88;
    width: 250px;
    height: 40px;
    margin-top: 15px;
    
}
.footer_margin {
    margin-top: 25px;
}

