
@model Frontend.Models.LoginsModel
@{
    ViewData["Title"] = "Giriş Yap";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

</head>
<body background="/Images/bg1.jpeg">

    <div class="container" id="app">
        <div class="d-flex justify-content-center h-100">
            <div class="cardgiris">
                    <h3 class="headerLogin">Giriş Yap</h3>
                    <hr/>
                   
                <div class="card-body">

                    @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                    {
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            @Html.TextBoxFor(m => m.id, "kullaniciadi", new { id = "kullaniciadi", @class = "form-control", placeholder = "Kullanıcı Adı" })


                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            @Html.TextBoxFor(m => m.password, "password", new { id = "password", @class = "form-control", placeholder = "Şifre", type = "password" })

                        </div>
                        @*  <div class="remember">
                                <input type="checkbox" class="">Beni hatırla
                            </div>*@
                        <div class="center">
                            @Html.ValidationMessage("noLogin", new { @class = "hata" })
                            @Html.ValidationMessage("kullanicihata", new {@class = "hata"})
                        </div>
                        <div class="center form-group">
                            <input type="submit" , id="girisYapButon" value="Giriş Yap" class="row btn login_btn ">
                        </div>

                    }
                    <div class="center">
                        <a href="/register/Aregister" id="registeregitButon" value="Uye Ol" class=" btn register_btn ">Kayıt Ol</a>
                    </div>


                    <hr />
                    <div class="d-flex justify-content-center">
                        <a href="#"> Şifremi Unuttum</a>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/login.js" asp-append-version="true"></script>
</body>
