@model Frontend.Models.LoginsModel
@{
    ViewData["Title"] = "Giriş Yap";
}

<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body background="/Images/bg2.jpeg">
    <div class="container" id="app">
        <div class="d-flex justify-content-center h-100">
            <div class="cardgiris">
                <div class="card-header center">
                    <h3>Giriş Yap</h3>
                </div>
                <span hidden id="hata1" style="color: #d73814">Kullanıcı adı veya şifre yanlış</span>
                <div class="card-body">
                    <a style="color: #d73814">Giriş Yapmanız Gerekmektedir</a>
                    @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                    {
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                            </div>
                            @Html.TextBoxFor(m => m.id, "kullaniciadi", new { id = "kullaniciadi", @class = "form-control", placeholder = "Kullanıcı Adı" });
                            @*<input type="text" id="kullaniciadi" class="form-control" placeholder="Kullanıcı adı">*@

                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            @Html.TextBoxFor(m => m.password, "password", new { id = "password", @class = "form-control", placeholder = "Şifre", type = "password" })

                        </div>
                        <div class="remember">
                            <input type="checkbox" class="">Beni hatırla
                        </div>
                        <div class="center form-group">
                            <input type="Submit" , id="girisYapButon" value="Giriş Yap" class="row btn login_btn ">
                        </div>

                    }
                    <div class="center">
                        <a href="/register/Index" id="registeregitButon" value="Uye Ol" class=" btn register_btn ">Kayıt Ol</a>
                    </div>
                    <div class="card-footer footer_margin">
                        @*  <div class="d-flex justify-content-center links">
                                Hala hesabın yok mu?<a asp-controller="Register" asp-action="Index">Kayıt Ol</a>
                            </div>*@
                        <div class="d-flex justify-content-center">
                            <a href="#"> Şifremi Unuttum</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
