
@{
    ViewData["Title"] = "Kayıt Ol";
}

<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

</head>
<body background="/Images/bg1.jpeg">

    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="cardgiris">
                <h3 class="headerLogin">Kayıt Ol</h3>
                <hr/>
                <div class="card-body1">
                    <form method="post">
                        <p><span id="hataKullaniciAdi" class="emsg hidden">Lütfen Geçerli Kullanıcı Adı Giriniz</span></p>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" id="_kullaniciadi" class="form-control" placeholder="Kullanıcı Adı">
                        </div>

                        <p><span id="hataAd" class="emsg hidden">Lütfen Geçerli Ad Giriniz</span></p>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" id="_ad" class="form-control" placeholder="Ad">
                        </div>

                        <p><span id="hataSoyad" class="emsg hidden">Lütfen Geçerli Kullanıcı Soyad Giriniz</span></p>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" id="_soyad" class="form-control" placeholder="Soyad">
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                            </div>
                            <input type="text" id="_email" class="form-control" placeholder="E-mail">
                        </div>

                        <p><span id="hataSifre" class="emsg hidden">Şifre Minimum 3 Karakterli olmalı</span></p>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" id="_password" class="form-control" placeholder="Şifre">
                        </div>
                        <div class="form-group center">
                            <input type="button" id="kayitOlButon" value="Kayıt Ol" class="btn login_btn">
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        <a style="color: #ff2255" class="nav-link" asp-area="" asp-controller="Login" asp-action="Index">Zaten Bir Hesabım Var</a>
                    </div>
                    <div class="center">
                        <a href="/login/Index" id="registeregitButon" value="Hesabım Var" class=" btn loginn_btn ">Giriş Yap</a>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/login.js" asp-append-version="true"></script>
</body>
